// App.css
body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  position: relative;
  background-color: #222;
}

canvas {
  width: 100%;
  height: 100%;
}
